*.iml
*.json
.idea/*
.idea/
out/
debug/
# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
*.class
*.jar
*.war
*.ear
*.tmp
*.exe
*.xml
*.rar
*.txt
*.lcok
*.properties
thumbs.db
.DS_Store
*.log
test/
target/
/.classpath
/.project
.settings/
/tasks/
