<div class="row">
  <div class="form-group col-4 ">
    <input aria-label="country" class="form-control" type="text" placeholder="country"
           [(ngModel)]="address.country"
           [readOnly]="editState"
           value=""
           name="country">
  </div>
  <div class="form-group col-4">
    <input aria-label="city" class="form-control" type="text" placeholder="city"
           [(ngModel)]="address.city"
           [readOnly]="editState"
           value=""
           name="city">
  </div>
  <div class="form-group col-4">
    <input aria-label="zip" class="form-control" type="text" placeholder="zip"
           [(ngModel)]="address.zip"
           [readOnly]="editState"
           value=""
           name="zip">
  </div>
</div>
<div class="row">
  <div class="form-group col-6">
    <input aria-label="street" class="form-control" type="text" placeholder="street"
           [(ngModel)]="address.street"
           [readOnly]="editState"
           value=""
           name="street">
  </div>
  <div class="form-group col-2">
    <input aria-label="homeNumber" class="form-control" type="text" placeholder="Nr."
           [(ngModel)]="address.homeNumber"
           [readOnly]="editState"
           value=""
           name="homeNumber">
  </div>
  <div class="form-group col-4">
    <select aria-label="code" class="custom-select" [(ngModel)]="address.type"
            name="type">
      <option selected value="Private">Private</option>
      <option value="Work">Work</option>
      <option value="Friend">Friend</option>
      <option value="Another">Another</option>
    </select>
  </div>
  <div class="btn-group btn-block">
    <a class="btn btn-sm btn-outline-primary" (click)="statSwitch()">{{editBtnName}}</a>
    <a class="btn btn-sm btn-outline-danger" (click)="onClickRemove()">Remove</a>
  </div>
</div>
