<div class="row">
  <div class="form-group col-3">
    <input [(ngModel)]="phone.code"
           [attr.value]="phone"
           [readOnly]="editState" aria-label="code"
           class="form-control"
           name="code"
           placeholder="code"
           type="text"
           value="{{phone.code}}">
  </div>
  <div class="form-group col-5">
    <input [(ngModel)]="phone.number"
           [attr.value]="phone"
           [readOnly]="editState"
           aria-label="number"
           class="form-control"
           name="number"
           placeholder="number"
           type="text"
           value="{{phone.number}}">
  </div>
  <div class="form-group col-4">
    <select [(ngModel)]="phone.type"
            [disabled]="editState"
            aria-label="code"
            class="custom-select"
            name="type">
      <option selected value="Private">Private</option>
      <option value="Work">Work</option>
      <option value="Friend">Friend</option>
      <option value="Another">Another</option>
    </select>
  </div>
  <div class="btn-group btn-block">
    <a class="btn btn-sm btn-outline-primary " (click)="statSwitch()">{{editBtnName}}</a>
    <a class="btn btn-sm btn-outline-danger" (click)="onClickRemove(phone.id)">Remove</a>
  </div>
</div>

